@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


:root{
    --light-grey : rgb(32,32,32);
    --dark-grey : #24252a;
}

.lgbg{
    background-color: grey
}

.lg{
    color: var(--light-grey);
}

.dgbg{
    background-color: var(--dark-grey)
}

.dg{
    color: var(--dark-grey);
}




body{
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contain{
    display: flex;
}

.card{
    padding: 30px;
    margin: 50px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}

p{
    font-family: 'fira code';
    position: relative;
   padding-bottom: 10px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
    font-family: 'fira code';
}